.simpleModal-forgotPasswordModal {
    max-width: 400px;
}

.forgotPasswordModal {
    display: grid;
    grid-template-rows: 1fr 1fr  1fr;
    grid-template-columns: 100%;
    grid-template-areas:
            'title'
            'email'
            'footer';
    grid-row-gap: 20px;
    padding: 0 10px;
}

.forgotPasswordModal-title {
    grid-area: title;
    color: var(--primary-color);
}

.forgotPasswordModal-email {
    grid-area: email;
}